.logopeg{
    width: 150px; 
}

header{
   background: #484848
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 58px;
    right: 0;
}
nav li{
    display: inline;
    font-size: 20px;
    margin: 0 0 0 30px;
    color: rgb(201, 201, 201)  
}
nav li:hover{
    color: white;
    font-size: 30px;
}

.dean{
    width: 250px;
    height: 250px;
}
.gan12{
    width: 250px;
    height: 250px;
}
.poster{
    width: 250px;
    height: 250px;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 140px;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 20px 10px;
    box-sizing: border-box;
    border: 2px solid #484848;
    border-radius: 10px;
}
.p1{

}
.p2{
    font-size: 18px;
    color: blue;

}
.produtos li:hover{
    border-color: #06c;

}
.produtos li:hover .p1{
    font-size: 30px;
}
footer{
    text-align: center;
    background-color: #484848;
    padding: 40px 0;
}
.copyright{
    color:rgb(201, 201, 201);
    font-size:  30px;
    margin-top: 10px;
}